<section class="block container">
    <header class="block__header">
      <h2>Host on the Cloud to Keep Growing</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, sapiente.</p>
    </header>
    <article class="grid grid--1x2 feature">
   <div>
     <span class="icon-container">
       <svg class="icon icon--primary">
       <use xlink:href="icons/sprite.svg#easy"></use>
         </svg>
     </span>
     <h3 class="feature__heading">Super Easy to Use</h3>
     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi laudantium aperiam nemo deserunt ea suscipit exercitationem, optio, velit in aliquid quas ipsa quia eos nobis laboriosam eveniet facere vitae assumenda?</p>
     <a href="#" class="link-arrow">Learn More</a>
   </div>
   <picture><img class="feature__image" src="images/easy.jpg" alt=""></picture>
   </article>
   <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
        <use xlink:href="icons/sprite.svg#easy"></use>
          </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi laudantium aperiam nemo deserunt ea suscipit exercitationem, optio, velit in aliquid quas ipsa quia eos nobis laboriosam eveniet facere vitae assumenda?</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture><img class="feature__image" src="images/easy.jpg" alt=""></picture>
    </article>
  </section>